name: Docker Image CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: 'Create env file'
        run: echo "${{ secrets.X_CLONE_ENV_PRODUCTION }}" > .env.production

      - name: Build the Docker image
        run: docker build --progress=plain -t dongcoi14122003/x-clone:v1.0.0 .

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Push the Docker image
        run: docker push dongcoi14122003/x-clone:v1.0.0

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          password: ${{ secrets.HOST_PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
            docker pull dongcoi14122003/x-clone:v1.0.0
            docker stop x-clone || true
            docker rm x-clone || true
            docker run -dp 3000:3000 --name x-clone --restart unless-stopped -v ~/x-clone/uploads:/app/uploads dongcoi14122003/x-clone:v1.0.0
